@font-face {
  font-family: Silver;
  size-adjust: calc(200% * 0.8);
  descent-override: calc(100% * 2 / 14);
  src:
    local(),
    url(/fonts/Silver.woff2) format('woff2'),
    url(/fonts/Silver.ttf) format('truetype');
}
@font-face {
  font-family: Silver-Original;
  src:
    local(),
    url(/fonts/Silver.woff2) format('woff2'),
    url(/fonts/Silver.ttf) format('truetype');
}
